@charset "utf-8";
*{
	padding: 0;
	margin: 0;
}
h1 {
    text-align: center;
    color: #fa1666;
    padding: 20px;
    font-size: 36px;
}
na ul {
background-color:skyblue;
	width: 100%;
	list-style-type: none;
	text-align:center; 
		
}
na li{
	display: inline-flex;
}
na a{
	text-decoration: none;
	color:#fa1666;
	padding: 10px;
	width: 150px;
		
}
na li:hover{
	background-color:aqua
}